body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
    width: auto;
    padding: 0;
}

.list th{
    padding: 10px 10px;
}

.list td{
    padding: 4px 10px;
}

.panel{
    position: relative;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    width: fit-content;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}

.panel h2{
    text-align: center;
    padding: 0 0 20px;
    margin: 0;
}

label{
    margin-left: 5px;
}

p{
    font-style: italic;
    color: rgb(255, 89, 89);
    position: fixed;
}

.field{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-top: 20px;
}

.field input{
    font-size: medium;
    height: 30px;
    border-radius: 8px;
    border: 2px solid lightblue;
    padding-left: 5px;
}

.field input[type="submit"]{
    margin-top: 30px;
    width: 100%;
    height: 35px;
    cursor: pointer;
    background-color: lightblue;
}

.field input:hover{
    border-color: cornflowerblue;
    transition: .5s;
}