$space: (
    input-height: 32px, 
    input-padding: 10px
);

@mixin group-input() {
    .group-input {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
        
        .field {
            background-color: #F6F6F6;
            border: 1px solid #999999;
            border-radius: 10px;
            padding: map-get($space, input-padding);
            width: 100%;
            height: map-get($space, input-height) + 2 * map-get($space, input-padding);
            
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: 10px;
            
            input {
                outline: none;
                height: map-get($space, input-height);
                font-size: 1rem;
            }
            input[type="text"] {
                background-color: transparent;
                border: 0;
                padding: 0 10px;
                width: 100%;
            }
            
            input[type="submit"], 
            input[type="submit"]:disabled {
                background-color: #dddddd;
                border: 0;
                border-radius: 5px;
                width: 40%;
                color: #999999;
                transition: 0.3s ease 0.5s;
            }
            input[type="submit"]:enabled {
                background-color: dodgerblue;
                color: white;
                transition: 0.3s ease 0.5s;
            }
        }
    }
}



#fuclouds-search {
    padding: 30px 20px 0;
    
    form {
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        h2 {
            font-weight: 500;
        }
        
        @include group-input();
    }
}



#fuclouds-upload {
    padding: 30px 20px 0;
    
    .image-path {
        display: none;
    }
    
    #file-input-container {
        margin-bottom: 20px;
        
        #filtered-file{
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            li {
                position: relative;
                
                .file-info {
                    display: flex;
                    align-items: center;
                    
                    img {
                        width: 3rem;
                        height: auto;
                        object-fit: cover;
                        object-position: center;
                        transform: scale(1.1);
                    }
                    
                    .file-size {
                        margin-top: 5px;
                        font-size: 0.8rem;
                        color: #999999;
                    }
                }
                
                .cancelInput {
                    background-color: pink;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    
                    padding: 3px;
                    top: 50%;
                    right: 10px;
                    border: 0;
                    border-radius: 50%;
                    width: 1.6rem;
                    height: 1.6rem;
                    transform: translateY(-50%);
                }
            }
        }
        
        input[type="file"] {
            display: none;
        }
    }
    
    .input-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 100px;
        
        @include group-input();
    }
}



#fuclouds-result {
    p.status {
        span {
            background-color: lightgreen;
            padding: 0 5px;
            font-family: 'Monospace';
            font-weight: bold;
            color: darkgreen;
        }
    }
}