@mixin file-list($action-color, $action-size) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    li {
        position: relative;
        margin: 0 10px;
        
        .file-info {
            display: flex;
            align-items: center;
            
            img {
                width: 3rem;
                height: auto;
                object-fit: cover;
                object-position: center;
                transform: scale(1.1);
            }
            
            .file-size {
                margin-top: 5px;
                font-size: 0.8rem;
                color: #999999;
            }
        }
        
        .file-action {
            background-color: $action-color;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            
            padding: 3px;
            top: 50%;
            right: 10px;
            border: 0;
            border-radius: 50%;
            width: $action-size;
            height: $action-size;
            transform: translateY(-50%);
            
            transition: scale 0.2s ease;
            
            &:active {
                transform: translateY(-50%) scale(0.9);
            }
        }
    }
}



.group-input {
    input[type="submit"], 
    input[type="submit"]:disabled {
        background-color: #DDDDDD;
        border: 0;
        border-radius: 5px;
        padding-left: 1rem;
        padding-right: 1rem;
        min-width: 80px;
        color: #999999;
        transition: background-color 0.3s ease 0.5s, 
                    color 0.3s ease 0.5s;
    }
    input[type="submit"]:enabled {
        background-color: dodgerblue;
        color: white;
        transition: background-color 0.3s ease 0.5s, 
                    color 0.3s ease 0.5s, 
                    scale 0.2s ease;
    }
    input[type="submit"]:enabled:active {
        transform: scale(0.95);
    }
}


section.header {
    margin-bottom: 20px;
    
    h2 {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
    
    p {
        margin-bottom: 10px;
    }
}

section.go {
    margin: 50px 0;
    
    a {
        text-decoration: none;
        color: #2B73E6;
    }
    
    .upload {
        float: right;
    }
}



#fuclouds-search {
    padding: 20px 20px 0;
    
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 40px;
        padding: 10px 0;
    }
}



#fuclouds-upload {
    padding: 20px 20px 0;
    
    form {
        margin-bottom: 40px;
        padding: 10px 0;
    }
    
    #file-input-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid lightblue;
        border-bottom: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-bottom: 10px;
        
        .heading {
            margin: 10px 0 0 20px;
        }
        
        .empty {
            margin: 20px auto 0;
            font-size: 2.5rem;
            font-weight: 700;
            color: #DDDDDD;
        }
        
        #filtered-file{
            @include file-list(pink, 1.6rem);
        }
        
        input[type="file"] {
            display: none;
        }
    }
    
    .input-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        .browse-file {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 10px 0 20px;
            width: 100%;
            border: 1px solid lightblue;
            border-top: 0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            
            label {
                width: 40%;
                margin: 0 auto;
            }
            
            .action-button {
                width: 40%;
            }
        }
    }
}



#fuclouds-result {
    padding: 20px 20px 0;
    
    p.status {
        margin-top: 30px;
        line-height: 1.6rem;
        
        span {
            background-color: #CFF3FF;
            border-radius: 5px;
            padding: 0 5px;
            font-family: 'Monospace';
            font-weight: bold;
            color: #0C6EA1;
        }
    }
    
    ul.file-list {
        margin: 40px 0 50px;
        
        @include file-list(#CFF3FF, 2rem);
    }
    
    form.download-all {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 20px 0;
        
        .action-button {
            position: relative;
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: center;
            padding-left: 5px;
            width: 14rem;
            
            svg {
                padding-bottom: 2px;
            }
        }
    }
}

@media(min-width: 768px) {
    #fuclouds-search, 
    #fuclouds-upload, 
    #fuclouds-result {
        padding-left: 0;
        padding-right: 0;
        margin: auto;
        width: 26rem;
    }
}