.group-input input[type="submit"],
.group-input input[type="submit"]:disabled {
    background-color: #DDDDDD;
    border: 0;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 80px;
    color: #999999;
    transition: background-color 0.3s ease 0.5s,  color 0.3s ease 0.5s;
}

.group-input input[type="submit"]:enabled {
    background-color: dodgerblue;
    color: white;
    transition: background-color 0.3s ease 0.5s,  color 0.3s ease 0.5s,  scale 0.2s ease;
}

.group-input input[type="submit"]:enabled:active {
    transform: scale(0.95);
}

section.header {
    margin-bottom: 20px;
}

section.header h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 10px;
}

section.header p {
    margin-bottom: 10px;
}

section.go {
    margin: 50px 0;
}

section.go a {
    text-decoration: none;
    color: #2B73E6;
}

section.go .upload {
    float: right;
}

nav.go {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

nav.go ul {
    display: inline-flex;
    gap: 10px;
}

nav.go span {
    position: absolute;
    top: 10px;
    right: 20px;
}

nav.go span button {
    display: none;
    transition: scale 0.2s ease;
}

nav.go span button:active {
    transition: scale 0.2s ease;
    transform: scale(0.95);
}

nav.go a, nav.go button {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    outline: none;
    border-radius: 5px;
    border: 0;
    width: 3rem;
    height: 3rem;
}

#darkcloud-search {
    padding: 20px 20px 4rem;
}

#darkcloud-search form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
    padding: 10px 0;
}

#darkcloud-upload {
    padding: 20px 20px 4rem;
}

#darkcloud-upload form {
    margin-bottom: 40px;
    padding: 10px 0;
}

#darkcloud-upload #file-input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid lightblue;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 10px;
}

#darkcloud-upload #file-input-container .heading {
    margin: 10px 0 0 20px;
}

#darkcloud-upload #file-input-container .empty {
    margin: 20px auto 0;
    font-size: 2.5rem;
    font-weight: 700;
    color: #DDDDDD;
}

#darkcloud-upload #file-input-container #filtered-file {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#darkcloud-upload #file-input-container #filtered-file li {
    position: relative;
    margin: 0 10px;
}

#darkcloud-upload #file-input-container #filtered-file li .file-info {
    display: flex;
    align-items: center;
}

#darkcloud-upload #file-input-container #filtered-file li .file-info img {
    width: 3rem;
    height: auto;
    object-fit: cover;
    object-position: center;
    transform: scale(1.1);
}

#darkcloud-upload #file-input-container #filtered-file li .file-info .file-size {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #999999;
}

#darkcloud-upload #file-input-container #filtered-file li .file-action {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 3px;
    top: 50%;
    right: 10px;
    border: 0;
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    transform: translateY(-50%);
    transition: scale 0.2s ease;
}

#darkcloud-upload #file-input-container #filtered-file li .file-action:active {
    transform: translateY(-50%) scale(0.9);
}

#darkcloud-upload #file-input-container input[type="file"] {
    display: none;
}

#darkcloud-upload .input-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#darkcloud-upload .input-form .browse-file {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0 20px;
    width: 100%;
    border: 1px solid lightblue;
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#darkcloud-upload .input-form .browse-file label {
    width: 40%;
    margin: 0 auto;
}

#darkcloud-upload .input-form .browse-file .action-button {
    width: 40%;
}

#darkcloud-result {
    padding: 20px 20px 4rem;
}

#darkcloud-result p.status {
    margin: 30px 0 20px;
    line-height: 1.6rem;
}

#darkcloud-result p.status span {
    background-color: #CFF3FF;
    border-radius: 5px;
    padding: 0 5px;
    font-family: 'Monospace';
    font-weight: bold;
    color: #0C6EA1;
}

#darkcloud-result .copying {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#darkcloud-result .copying input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#darkcloud-result .copying button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    transition: scale 0.2s;
}

#darkcloud-result .copying button:active {
    transform: scale(0.95);
}

#darkcloud-result ul.file-list {
    margin: 40px 0 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#darkcloud-result ul.file-list li {
    position: relative;
    margin: 0 10px;
}

#darkcloud-result ul.file-list li .file-info {
    display: flex;
    align-items: center;
}

#darkcloud-result ul.file-list li .file-info img {
    width: 3rem;
    height: auto;
    object-fit: cover;
    object-position: center;
    transform: scale(1.1);
}

#darkcloud-result ul.file-list li .file-info .file-size {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #999999;
}

#darkcloud-result ul.file-list li .file-action {
    background-color: #CFF3FF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 3px;
    top: 50%;
    right: 10px;
    border: 0;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    transform: translateY(-50%);
    transition: scale 0.2s ease;
}

#darkcloud-result ul.file-list li .file-action:active {
    transform: translateY(-50%) scale(0.9);
}

#darkcloud-result form.download-all {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px 0 50px;
}

#darkcloud-result form.download-all .action-button {
    position: relative;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    width: 14rem;
}

#darkcloud-result form.download-all .action-button svg {
    padding-bottom: 2px;
}

@media (min-width: 768px) {
    #darkcloud-search,
#darkcloud-upload,
#darkcloud-result {
        position: relative;
        padding-left: 0;
        padding-right: 0;
        margin: auto;
        width: 26rem;
    }
}
