#home {
    margin: 20px 20px 100px;
}

#home h1 {
    margin-bottom: 20px;
}

#home p {
    font-size: 1rem;
}

#home a, #home a:visited {
    color: #2B73E6;
    padding: 2px;
}

#home ul {
    margin-top: 10px;
}

#home ul li {
    border: 2px solid lightblue;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#resources {
    font-size: 16px;
    margin: 20px 10px 100px;
}

#resources h1 {
    font-size: 2em;
}

#resources ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#resources ul h2 {
    margin: 30px 0 5px;
    padding: 0;
    font-size: 1.2em;
}

#resources ul li {
    margin-bottom: 5px;
}

#resources ul a, #resources ul a:visited {
    font-size: 1em;
    color: #2B73E6;
}

#comment {
    font-size: 16px;
    margin: 20px 0 150px;
    position: relative;
}

#comment h1 {
    margin: 10px 20px 30px;
}

#comment .comment-list {
    display: flex;
    flex-direction: column;
}

#comment .comment-list > li {
    padding: 30px 20px 0;
}

#comment .comment-list.root > li {
    padding-bottom: 40px;
}

#comment .comment-list.root > li:nth-child(odd) {
    background-color: #F3F3F3;
}

#comment p.message {
    padding: 5px 0;
}

#comment .comment-action {
    display: flex;
    gap: 20px;
}

#comment .comment-action button {
    background-color: transparent;
    outline: none;
    border: 0;
    font-weight: 500;
    color: #385d99;
}

#comment .comment-action button:active {
    color: #2B73E6;
}

#comment button.newComment {
    position: fixed;
    background-color: #2B73E6;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 2.5rem;
    border-radius: 8px;
    border: 0;
    outline: none;
    transition: all 0.2s ease;
}

#comment button.newComment:active {
    transform: scale(0.95);
}

#comment.show .comment-container {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

#comment .comment-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 12;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

#comment .comment-container .comment-popup {
    position: relative;
    padding: 25px;
    max-width: 420px;
    width: 95%;
    background: #fff;
    border-radius: 12px;
}

#comment .comment-container .comment-popup .close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 30px;
    color: #b4b4b4;
    cursor: pointer;
    transition: all 0.2s ease;
}

#comment .comment-container .comment-popup section.reply-status p.reply-message {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    color: grey;
}

#comment .comment-container .comment-popup textarea {
    min-height: 200px;
    width: 100%;
    margin-top: 20px;
    outline: none;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 6px;
    resize: none;
    font-size: 18px;
    font-weight: 400;
    background: #f3f3f3;
}

#comment .comment-container .comment-popup .action {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

#comment .comment-container .comment-popup .action .button {
    outline: none;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    background: #6f93f6;
    margin-left: 12px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
    #home,
#resources,
#comment {
        margin: 2rem auto 100px;
        width: 24rem;
    }
}
