@mixin account-form() {
    margin: 30px 60px;
    
    h1 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .group-input {
        .field {
            padding-top: 8px;
            padding-bottom: 8px;
        }
        
        @include password-visibility-button();
    }
    
    .action-button {
        border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 30px;
        width: 100%;
        height: 48px;
    }
}

@mixin password-visibility-button() {
    button {
        background-color: transparent;
        outline: none;
        border: 0;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: scale 0.2s;
        
        svg {
            width: 1.6rem;
            height: 1.6rem;
        }
        &:active {
            transform: scale(0.9);
        }
    }
}

@mixin section-go() {
    section.go {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-bottom: 100px;
    }
}



#home {
    margin: 20px 20px 100px;
    h1 {
        margin-bottom: 20px;
    }
    p {
        font-size: 1rem;
    }
    a, a:visited {
        color: #2B73E6;
        padding: 2px;
    }
    
    ul {
        margin-top: 10px;
        li {
            border: 2px solid lightblue;
            border-radius: 10px;
            margin-top: 20px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}

#resources {
    font-size: 16px;
    margin: 20px 10px 100px;
    h1 {
        font-size: 2em;
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            margin-bottom: 5px;
        }
        h2 {
            margin: 30px 0 5px;
            padding: 0;
            font-size: 1.2em;
        }
        a, a:visited {
            font-size: 1em;
            color: #2B73E6;
        }
    }
}

#comment {
    font-size: 16px;
    margin: 20px 0 150px;
    position: relative;
    
    h1 {
        margin: 10px 20px 30px;
    }
    b {
        font-weight: 500;
    }
    
    .comment-list {
        display: flex;
        flex-direction: column;
        
        & > li {
            padding: 15px 20px;
            &:focus {
                background-color: lightblue;
                border-radius: 5px;
            }
            &:first-child {
                margin-top: 15px;
            }
        }
        
        &.root {
            & > li {
                padding-bottom: 30px;
                section.comment-replies {
                    display: none;
                    &.show {
                        display: block;
                    }
                }
            }
            & > li:nth-child(odd) {
                background-color: #F3F3F3;
            }
        }
    }
    .goMention {
        color: #2B73E6;
    }
    p.comment-message {
        padding: 5px 0;
    }
    .comment-action {
        margin-top: 5px;
        display: flex;
        gap: 20px;
        
        button {
            background-color: transparent;
            outline: none;
            border: 0;
            font-weight: 500;
            color: #385d99;
            
            &:active {
                color: #2B73E6;
            }
        }
    }
    
    button.newComment {
        position: fixed;
        background-color: #2B73E6;
        color: white;
        font-weight: 400;
        font-size: 1rem;
        left: 10px;
        right: 10px;
        bottom: 10px;
        height: 2.5rem;
        border-radius: 8px;
        border: 0;
        outline: none;
        transition: all 0.2s ease;
        
        &:active {
            transform: scale(0.95);
        }
    }
    
    &.show .comment-container {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1);
    }
    .comment-container {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        z-index: 12;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.4);
        opacity: 0;
        pointer-events: none;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        transform: scale(1.2);
        transition: all 0.3s ease-in-out;
        
        .comment-popup {
            position: relative;
            padding: 25px;
            max-width: 420px;
            width: 95%;
            background: #fff;
            border-radius: 12px;
            
            section.reply-status {
                p.reply-message {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                    margin-bottom: 20px;
                    color: grey;
                }
            }
            
            textarea {
                min-height: 200px;
                width: 100%;
                margin-top: 20px;
                outline: none;
                border: 1px solid #ddd;
                padding: 12px;
                border-radius: 6px;
                resize: none;
                font-size: 18px;
                font-weight: 400;
                background: #f3f3f3;
            }
            
            .action {
                display: flex;
                justify-content: flex-end;
                margin-top: 15px;
                
                .button {
                    outline: none;
                    border: none;
                    padding: 8px 14px;
                    border-radius: 6px;
                    margin-left: 12px;
                    background: #6f93f6;
                    color: #fff;
                    font-size: 14px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    
                    &.send:hover {
                      background: #275df1;
                    }
                    &.cancel {
                      background: #f082ac;
                    }
                    &.cancel:hover {
                      background: #ec5f95;
                    }
                }
            }
        }
    }
}



#sign-up {
    position: relative;
    @include account-form();
    
    .validation {
        display: flex;
        align-items: center;
        gap: 5px;
        line-height: 1rem;
        margin: 5px 10px;
        color: #AAAAAA;
        
        svg {
            width: 1rem;
            height: 1rem;
        }
    }
    .not-pass {
        color: #FF0000;
    }
    .pass {
        color: #04BA71;
    }
    
    .agreement {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 10px 1px 0;
    }
    
    @include section-go();
}

#sign-in {
    position: relative;
    
    @include account-form();
    @include section-go();
    
    .sign-in-failed {
        color: #FF0000;
        font-style: italic;
        position: absolute;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
    
    #home,
    #resources,
    #comment {
        margin: 2rem auto 100px;
        width: 24rem;
    }
    
    #sign-up, 
    #sign-in {
        margin: auto;
        width: 24rem;
    }
}