#home {
    margin: 20px 20px 100px;
}

#home h1 {
    margin-bottom: 20px;
}

#home p {
    font-size: 1rem;
}

#home a, #home a:visited {
    color: #2B73E6;
    padding: 2px;
}

#home ul {
    margin-top: 10px;
}

#home ul li {
    border: 2px solid lightblue;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#resources {
    font-size: 16px;
    margin: 20px 10px 100px;
}

#resources h1 {
    font-size: 2em;
}

#resources ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#resources ul h2 {
    margin: 30px 0 5px;
    padding: 0;
    font-size: 1.2em;
}

#resources ul li {
    margin-bottom: 5px;
}

#resources ul a, #resources ul a:visited {
    font-size: 1em;
    color: #2B73E6;
}

#comment {
    font-size: 16px;
    margin: 20px 0 150px;
    position: relative;
}

#comment h1 {
    margin: 10px 20px 30px;
}

#comment .comment-list-level1 .level1 {
    padding-bottom: 20px;
}

#comment .comment-list-level1 .level1:nth-child(odd) {
    background-color: #F6F6F6;
}

#comment .comment-list-level1 .level1:nth-child(even) {
    background-color: white;
}

#comment .comment-list-level1 .level1 .selected {
    background-color: lightblue;
}

#comment .comment-list-level1 section.comment-container {
    padding: 30px 20px 20px;
}

#comment .comment-list-level1 section.comment-container:not(:last-child) {
    margin-bottom: 2px;
}

#comment .comment-list-level2 {
    margin-left: 35px;
    border-left: 4px solid lightblue;
    padding-left: 15px;
}

#comment .comment-list-level2 .level2:not(:last-child) {
    margin-bottom: 20px;
}

#comment .comment-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#comment .comment-container p strong, #comment .comment-container p .time {
    color: #0b387b;
}

#comment .comment-action {
    display: flex;
    gap: 20px;
}

#comment .comment-action button {
    background-color: transparent;
    outline: none;
    border: 0;
    font-weight: 500;
    color: #444444;
}

#comment .comment-action button:active {
    color: #2B73E6;
}

#comment section.add-comment {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#comment section.add-comment form {
    background-color: white;
    padding: 10px;
}

#comment section.add-comment form .field {
    display: flex;
    gap: 10px;
}

#comment section.add-comment form .field textarea {
    padding: 5px;
    flex: 1;
    height: 30px;
    resize: none;
    font-size: 1rem;
}

#comment section.add-comment form .field input {
    padding: 5px;
}

#comment section.add-comment a.redirect {
    background-color: lightblue;
    color: black;
    display: block;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
    #home,
#resources,
#comment {
        margin: 2rem auto 100px;
        width: 24rem;
    }
}
