$nav-space: (
    width: 280px,    // config: navigation menu width
    bottom: 20px,
    radius: 10px,
    start: 20px,
    apadding: 5px,
    end: 10px
);

$group-input-space: (
    input-height: 32px, 
    input-padding: 10px
);

@mixin nav-button() {
    button {
        background-color: #EEEEEE;
        outline: none;
        border: 0;
        border-radius: 20%;
        width: 2rem;
        height: 2rem;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        transition: all 0.2s ease;
        
        &:active {
            transform: scale(0.9);
        }
        
        span {
            padding-top: 2px;
            color: #333333;
            font-size: 1.2rem;
            font-weight: bold;
            pointer-events: none;
        }
    }
}

@mixin account-form() {
    margin: 30px 60px;
    
    h1 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .group-input {
        .field {
            padding-top: 8px;
            padding-bottom: 8px;
        }
        
        @include password-visibility-button();
    }
    
    .action-button {
        border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 30px;
        width: 100%;
        height: 48px;
    }
}

@mixin password-visibility-button() {
    button {
        background-color: transparent;
        outline: none;
        border: 0;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        transition: scale 0.2s;
        
        svg {
            width: 1.6rem;
            height: 1.6rem;
        }
        &:active {
            transform: scale(0.9);
        }
    }
}

@mixin section-go() {
    section.go {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-bottom: 100px;
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    padding-top: 60px;
}

h1 {
    font-weight: 500;
}

ul {
    list-style-type: none;
}

a.brandeis, 
a.brandeis:visited {
    color: #2B73E6;
}

svg, svg path {
    pointer-events: none;
}

form {
    input[type="password"]::-webkit-outer-spin-button,
    input[type="password"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    
    input[type="password"]::-ms-reveal {
        display: none;
    }
}

.database-error {
    position: relative;
    background-color: #FCF3D6;
    color: #BE9655;
    left: 0;
    right: 0;
    margin-top: 10px;
    padding: 0 10px;
}

.group-input {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    .field {
        background-color: #F6F6F6;
        border: 1px solid #999999;
        border-radius: 10px;
        padding: map-get($group-input-space, input-padding);
        width: 100%;
        
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;
        
        input {
            outline: none;
            height: map-get($group-input-space, input-height);
            font-size: 1rem;
        }
        input[type="text"], 
        input[type="password"] {
            background-color: transparent;
            border: 0;
            padding: 0 10px;
            width: 100%;
        }
    }
}

.action-button {
    outline: none;
    border: 0;
    border-radius: 5px;
    height: 2.5rem;
    margin: 0 auto;
    font-size: 1rem;
    
    &:disabled {
        background-color: #DDDDDD;
        color: #999999;
        transition: background-color 0.3s ease 0.5s, 
                    color 0.3s ease 0.5s;
    }
    &:enabled {
        background-color: dodgerblue;
        color: white;
        transition: background-color 0.3s ease 0.5s, 
                    color 0.3s ease 0.5s,
                    scale 0.2s ease;
    }
    &:enabled:active {
        transform: scale(0.95);
    }
}



#page-header {
    background-color: lightblue;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
    
    .app {
        padding-left: 20px;
        font-size: 1.5rem;
    }
    
    section {
        width: map-get($nav-space, width);
        h1 {
            margin-left: 7px + map-get($nav-space, start);
        }
    }
    
    @include nav-button();
}

.navigation-container {
    background-color: rgba(0, 0, 0 , 0.3);
    // backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    overflow: hidden;
    z-index: 10;
    
    display: flex;
    justify-content: flex-end;
    
    transition: width 0.2s ease;
    
    nav.navigation {
        background-color: white;
        position: relative;
        width: 0;
        height: 100%;
        border-top-left-radius: map-get($nav-space, radius);
        border-bottom-left-radius: map-get($nav-space, radius); 
        
        transition: width 0.3s ease;
        
        .separator {
            background-color: rgba(35, 35, 35, 0.3);
            position: absolute;
            right: 0;
            width: map-get($nav-space, width) - map-get($nav-space, start);
            height: 0.5px;
        }
        .separator.top {
            top: 0;
        }
        .separator.bottom {
            bottom: 0;
        }
        
        ul.row {
            padding: 5px map-get($nav-space, start);
            width: map-get($nav-space, width);
            
            li {
                position: relative;
                
                a {
                    padding: 7px map-get($nav-space, apadding);
                    display: block;
                    
                    text-decoration: none;
                    font-weight: 400;
                    color: #333333;
                }
            }
        }
        
        
        header {
            position: relative;
            border-top-left-radius: map-get($nav-space, radius);
            padding-left: map-get($nav-space, start);
            padding-right: map-get($nav-space, end);
            width: map-get($nav-space, width);
            height: 60px;
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            section {
                h1 {
                    padding: 0 map-get($nav-space, apadding);
                    font-size: 1.2rem;
                }
            }
            
            @include nav-button();
        }
        
        .list {
            position: absolute;
            padding: 10px 0;
            overflow-y: auto;
            overflow-x: hidden;
            
            a {
               margin: 5px 0;
            }
            .main-list {
                span {
                    margin-left: 30px;
                }
                svg {
                    height: 1.6rem;
                    width: 1.6rem;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-55%);
                }
            }
            
            h6 {
                margin: 10px 0;
                padding: map-get($nav-space, apadding);
                font-size: 1rem;
                font-weight: 500;
            }
        }
        
        footer {
            position: absolute;
            bottom: 0;
            border-bottom-left-radius: map-get($nav-space, radius);
            padding: 10px 0 20px;
            width: map-get($nav-space, width);
            
            .footer-list {
                padding-left: map-get($nav-space, apadding) + map-get($nav-space, start);
                display: flex;
                gap: 10px;
                
                a {
                    text-decoration: none;
                    font-size: 0.8rem;
                    color: #2B73E6;
                }
            }
            
            .copyright {
                margin: 10px 0;
                padding-left: map-get($nav-space, apadding) + map-get($nav-space, start);
                font-size: 0.8rem;
                color: #8A8A8A;
            }
        }
    }
}

#sign-up {
    position: relative;
    @include account-form();
    
    .validation {
        display: flex;
        align-items: center;
        gap: 5px;
        line-height: 1rem;
        margin: 5px 10px;
        color: #AAAAAA;
        
        svg {
            width: 1rem;
            height: 1rem;
        }
    }
    .not-pass {
        color: #FF0000;
    }
    .pass {
        color: #04BA71;
    }
    
    .agreement {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 10px 1px 0;
    }
    
    @include section-go();
}

#sign-in {
    position: relative;
    
    @include account-form();
    @include section-go();
    
    .sign-in-failed {
        color: #FF0000;
        font-style: italic;
        position: absolute;
    }
}

#body #home-about {
    padding: 20px;
    
    section.readme {
        background-color: #fff;
        border: 1px solid #ddd;
        margin-bottom: 50px;
        padding: 20px;
        
        h2 {
            margin-bottom: 15px;
            font-size: 1.5em;
            font-weight: 500;
        }
        
        h3 {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 1.2em;
            font-weight: 500;
        }
        
        p {
            margin-bottom: 15px;
            font-size: 1em;
            line-height: 1.5em;
        }
        
        a {
            color: #2B73E6;
            text-decoration: none;
        }
        
        code {
            background-color: #f7f7f7;
            padding: 2px 4px;
            font-family: Consolas, monospace;
        }
        
        ul, ol {
            margin-left: 30px;
            margin-bottom: 10px;
        }
        
        ul {
            list-style-type: disc;
        }
        
        li {
            margin-bottom: 5px;
        }
        
        strong {
            font-weight: 500;
        }
    }
}


@media (min-width: 768px) {
    body {
        padding-right: map-get($nav-space, width);
    }
    
    #sign-up, 
    #sign-in {
        margin: auto;
        width: 24rem;
    }
    
    #body .navigation-container {
        background-color: transparent;
        border-radius: 0;
        top: 70px;
        bottom: 10px;
        width: map-get($nav-space, width);
        
        nav.navigation {
            top: -10px;
            bottom: -10px;
            border-radius: 0;
            border-left: 2px solid lightblue;
            width: map-get($nav-space, width);
        }
        
        footer {
            padding-bottom: 0;
        }
    }
    
    #home-about {
        margin: auto;
        width: 30rem;
    }
    
    #body .mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    #page-header {
        padding-right: map-get($nav-space, end);
    }
    
    #body .navigation-container {
        height: 100%;
        nav.navigation {
            box-shadow: 10px 0 25px 1px rgba(0, 0, 0, 0.3);
        }
    }
    
    #body .desktop {
        display: none;
    }
}