#resources {
    font-size: 16px;
    margin: 20px 10px 100px;
}

#resources h1 {
    font-size: 2em;
}

#resources ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#resources ul h2 {
    margin: 30px 0 5px;
    padding: 0;
    font-size: 1.2em;
}

#resources ul li {
    margin-bottom: 5px;
}

#resources ul a, #resources ul a:visited {
    font-size: 1em;
    color: #2B73E6;
}
