* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    height: 1600px;
}

ul {
    list-style-type: none;
}

form input[type="password"]::-webkit-outer-spin-button,
form input[type="password"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

form input[type="password"]::-ms-reveal {
    display: none;
}

#page-header {
    background-color: lightblue;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-header h1 {
    font-size: 1.5rem;
}

#page-header button {
    margin-right: 10px;
    height: 2rem;
    width: 2rem;
    border: 2px solid salmon;
    border-radius: 20%;
    outline: none;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-header button span {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

#page-header button:active {
    transform: scale(0.9);
}

.navigation-container {
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    transition: width 0.2s ease;
}

.navigation-container nav.navigation {
    background-color: lightgreen;
    position: relative;
    height: 100%;
    width: 0;
    transition: width 0.3s ease;
}

.navigation-container nav.navigation header {
    background-color: yellow;
    position: relative;
    width: 280px;
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-container nav.navigation header section h1 {
    font-size: 1rem;
}

.navigation-container nav.navigation header button {
    margin-right: 10px;
    height: 2rem;
    width: 2rem;
    border: 2px solid salmon;
    border-radius: 20%;
    outline: none;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-container nav.navigation header button span {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.navigation-container nav.navigation header button:active {
    transform: scale(0.9);
}

.navigation-container nav.navigation ul {
    background-color: yellow;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navigation-container nav.navigation .main-list {
    margin-bottom: 20px;
}

.navigation-container nav.navigation .app-list {
    background-color: pink;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
}

.navigation-container nav.navigation footer {
    background-color: yellow;
    position: absolute;
    bottom: 0;
    width: 280px;
    height: 100px;
}
