$nav-space: (
    width: 280px,    // config: navigation menu width
    bottom: 20px,
    radius: 10px,
    start: 20px,
    end: 10px
);

@mixin nav-button() {
    button {
        margin-right: map-get($nav-space, end);
        height: 2rem;
        width: 2rem;
        
        background-color: #F3F4F6;
        border: 0;
        border-radius: 20%;
        outline: none;
        transition: all 0.2s ease;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        span {
            font-weight: bold;
            font-size: 1.2rem;
            line-height: 1.2rem;
        }
    }
    
    button:active {
        transform: scale(0.9);
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    height: 1600px;
}

ul {
    list-style-type: none;
}

form {
    input[type="password"]::-webkit-outer-spin-button,
    input[type="password"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    
    input[type="password"]::-ms-reveal {
        display: none;
    }
}



#page-header {
    background-color: lightblue;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    h1 {
        font-size: 1.5rem;
    }
    
    @include nav-button();
}

.navigation-container {
    background-color: rgba(255, 255, 255, 0.5);
    // backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    
    display: flex;
    justify-content: flex-end;
    
    transition: width 0.2s ease;
    
    nav.navigation {
        background-color: white;
        position: relative;
        height: 100%;
        width: 0;
        border: 2px solid rgba(100, 100, 100, 0.3);
        border-top-left-radius: map-get($nav-space, radius);
        border-bottom-left-radius: map-get($nav-space, radius); 
        transition: width 0.3s ease;
        
        .separator {
            background-color: rgba(34, 35, 38, 0.5);
            position: absolute;
            right: 0;
            height: 0.5px;
            width: map-get($nav-space, width) - map-get($nav-space, start);
        }
        .separator.top {
            top: 0;
        }
        .separator.bottom {
            bottom: 0;
        }
        
        ul.row {
            width: map-get($nav-space, width);
            padding: 15px map-get($nav-space, start);
            
            display: flex;
            flex-direction: column;
            gap: 5px;
            
            a {
                padding: 5px 15px;
                display: block;
                text-decoration: none;
                color: #222326;
            }
        }
        
        header {
            position: relative;
            width: map-get($nav-space, width);
            height: 60px;
            padding-left: map-get($nav-space, start);
            border-top-left-radius: map-get($nav-space, radius);
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            section {
                h1 {
                    font-size: 1rem;
                }
            }
            
            @include nav-button();
        }
        
        .main-list {
            position: absolute;
        }
        
        .app-list {
            position: absolute;
            overflow-y: auto;
            overflow-x: hidden;
            
            h6 {
                font-weight: normal;
                padding: 0 5px;
                font-size: 1rem;
            }
        }
        
        footer {
            position: absolute;
            bottom: 0;
            width: map-get($nav-space, width);
            padding-bottom: 10px;
            border-bottom-left-radius: map-get($nav-space, radius);
            
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            ul.row {
                padding-bottom: 5px;
                
                a {
                    padding-left: 5px;
                }
            }
            
            .copyright {
                padding-left: 5px + map-get($nav-space, start);
                color: #8A8D90;
            }
            
            .footer-list {
                padding-left: 5px + map-get($nav-space, start);
                display: flex;
                gap: 10px;
                
                a {
                    text-decoration: none;
                    color: #507295;
                }
            }
        }
    }
}