header {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    h1 {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
    }
}

form {
    input[type="password"]::-webkit-outer-spin-button,
    input[type="password"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type="password"]::-ms-reveal {
        display: none;
    }
}