* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    padding-top: 100px;
    height: 1600px;
}

ul {
    list-style-type: none;
}

form input[type="password"]::-webkit-outer-spin-button,
form input[type="password"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

form input[type="password"]::-ms-reveal {
    display: none;
}

#page-header {
    background-color: lightblue;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-header h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

#page-header button {
    margin-right: 10px;
    height: 2rem;
    width: 2rem;
    background-color: #EEEEEE;
    border: 0;
    border-radius: 20%;
    outline: none;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-header button span {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #333333;
    pointer-events: none;
}

#page-header button svg, #page-header button svg path {
    pointer-events: none;
}

#page-header button:active {
    transform: scale(0.9);
}

.navigation-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    transition: width 0.2s ease;
}

.navigation-container nav.navigation {
    background-color: white;
    position: relative;
    height: 100%;
    width: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: width 0.3s ease;
}

.navigation-container nav.navigation .separator {
    background-color: rgba(34, 35, 38, 0.5);
    position: absolute;
    right: 0;
    height: 0.5px;
    width: 260px;
}

.navigation-container nav.navigation .separator.top {
    top: 0;
}

.navigation-container nav.navigation .separator.bottom {
    bottom: 0;
}

.navigation-container nav.navigation ul.row {
    width: 280px;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navigation-container nav.navigation ul.row a {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-weight: 400;
    color: #333333;
}

.navigation-container nav.navigation ul.row a img {
    width: 1.5rem;
    height: auto;
}

.navigation-container nav.navigation header {
    position: relative;
    width: 280px;
    height: 60px;
    padding-left: 20px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-container nav.navigation header section h1 {
    font-size: 1.2rem;
    font-weight: 500;
}

.navigation-container nav.navigation header button {
    margin-right: 10px;
    height: 2rem;
    width: 2rem;
    background-color: #EEEEEE;
    border: 0;
    border-radius: 20%;
    outline: none;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-container nav.navigation header button span {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #333333;
    pointer-events: none;
}

.navigation-container nav.navigation header button svg, .navigation-container nav.navigation header button svg path {
    pointer-events: none;
}

.navigation-container nav.navigation header button:active {
    transform: scale(0.9);
}

.navigation-container nav.navigation .list {
    position: absolute;
    padding: 10px 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.navigation-container nav.navigation .list .main-list {
    margin-bottom: 10px;
}

.navigation-container nav.navigation .list h6 {
    margin-top: 10px;
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.navigation-container nav.navigation footer {
    position: absolute;
    bottom: 0;
    width: 280px;
    padding: 10px 0 20px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navigation-container nav.navigation footer .copyright {
    padding-left: 25px;
    font-size: 0.8rem;
    color: #8A8D90;
}

.navigation-container nav.navigation footer .footer-list {
    padding-left: 25px;
    display: flex;
    gap: 10px;
}

.navigation-container nav.navigation footer .footer-list a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #2B73E6;
}
